<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808877020506-jjgdegmpo2vckcn5plsljtiljfogu9bu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808877020506-jjgdegmpo2vckcn5plsljtiljfogu9bu</string>
	<key>API_KEY</key>
	<string>AIzaSyAd9qOkz7_wEFqzNxitNxIKSQleo3TN_bc</string>
	<key>GCM_SENDER_ID</key>
	<string>808877020506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>wired-coda-322509</string>
	<key>STORAGE_BUCKET</key>
	<string>wired-coda-322509.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808877020506:ios:2ff961c70e11cb4a008f63</string>
</dict>
</plist>